<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>GLEW_1130.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>boing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>cursor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>empty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>gears.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>glfwinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>heightmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>iconify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>joysticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>misc05_picking_BulletPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>misc05_picking_custom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>misc05_picking_slow_easy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>monitors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>msaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>reopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>splitview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>tearing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>tutorial01_first_window.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tutorial02_red_triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tutorial03_matrices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tutorial04_colored_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tutorial05_textured_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>tutorial06_keyboard_and_mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>tutorial07_model_loading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>tutorial08_basic_shading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>tutorial09_AssImp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>tutorial09_several_objects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>tutorial09_vbo_indexing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>tutorial10_transparency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>tutorial11_2d_fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>tutorial12_extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>tutorial13_normal_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>tutorial15_lightmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>tutorial16_shadowmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>tutorial16_shadowmaps_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>tutorial17_rotations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>tutorial18_billboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>tutorial18_particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>wave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>windows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00064ADCC05D4A7788AC53BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01266618CDE747A38076DD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>098E1F2BFA81467A88B7A009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09AC7BD17CD84919A17C55C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C25AF74EC704FC199604A1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E131ACA57804C9D8ACAC0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>107BD22BAD0B46368ED75543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1737F66724414ED4B18E7C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174076E02CBE4190A68EF1E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E6EC465C9A347969699F51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>314374BD11274910A84B71B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>349D563383404E88A7046942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3780AFD8ADC64F10834DF168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39438A8596284B268E8F0C43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A63C54C322E45379796A765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C24C10CF6154342911896FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCCAE4846DF4B4982C99F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>433BE1DCEFF14EC792A274F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43E43F386C5A4EA6BE53B32C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>460767D4664E4244A28592F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D26BBB2EAA04B1DAED31470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D36001A1F0447B8BD1F3C36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEB356211464E5CA7A4A38D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C00AB47C91415B8AEC52ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5141821E994E42AEB8CDC4AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5656547D401E4A73853A162E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568B2BCD05C141409C8883B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>572060D9B9E64F058B504E12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>583AEF34FD634CE1A111C42A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F8DB06B61BB41BC932389D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>618DEB34E0564A22ADFB00D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636674CC00E242698372D934</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>649D82868F7140029375291B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F1AC100F264ECA9D2AF9EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE8CD0D2A214CA59FC3767A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73123D3F3BCE410280C2FDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>757E494D8886496483E6F40B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A03DDD3BB34415AA1580A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80AD76A2787747C5BAFB4A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89011753F2CE4C0EB86A45DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EC394ABA1D74DCFA4657AB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>983B4064A5034CC093B9F0A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9900986C90B0440FBF331A30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23E2AE0A3A6482982E0497A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A4AC038CA04A269F2563C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A836FA0BE9FC486AA8C7D0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEDCD5269E184027BC38B672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF44B779120A4075A908FC91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B64037355C2540EA9D532DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B64747E84AD043E8A19F977D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA090AFCFD734CE7A6A66084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C201000586BC442E8620F3D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9FE1DCE952F4673BCA88D83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E196E87B3CA1493192425D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2DD32A434544717827423B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1CC653FD4AC4E3CB3A81E1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2849FB11A6D471ABAA7F7CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49975B398C2405081F7E390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7F2F9A4806848F0ADF7407A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9FE31B016014C56A28EDE97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD6E2A3491245168028A82E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE455644FBC4DF3BCFC241C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
